geofi.Rproj
*.Rproj
inst/extras/..Rcheck/
inst/extras/*.Rout
inst/extras/*.Rcheck
*.tar.gz
*~
.RData
.Rproj.user
.Rhistory
TEMPDIR/*
ggmapTemp.png
gisfin.Rproj
vignettes/geofi_tutorial.txt
cache/
vignetttes/cache/
vignetttes/.RData
geofi_tutorial.txt
.DS_Store
README.html
